Body {
  font-family:  "Lucida Console", Courier, monospace;
}

/* Hover for instructions */
section > p {
  width: 300px;
  overflow: hidden;
  height: 15px;
  background: white;
  font-size: 15px;
  transition: width 2s, height 4s;
}

section > p:hover {
  height: 50px;
}

/* CSS for arrows */
.position ul, .position li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align:top;
}
.position li.arrowUp,  .position li.arrowDown {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: black;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    box-shadow: 1px 2px 15px #cccccc;
    text-align:center;
    line-height:20px;
}
.position li.arrowUp:hover,  .position li.arrowDown:hover{
  border-color: transparent transparent #adfd transparent;

}
.position li.arrowUp:before {
    content:"";
    display:inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #FFFF transparent;
}

.position li.arrowDown:before {
    content:'';
    display:inline-block;
    vertical-align:middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.7px 5px 0 5px;
    border-color: #FFFF transparent transparent transparent;
}

/* SLIDE right and Left for the footer and header  */
 header {
  animation-duration: 2s;
  animation-name: slideinr;
}

@keyframes slideinr {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* STOP Sign */
.stop-sign,
.stop-sign * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
.stop-sign div {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: auto;
  color: white;
  font-weight: 700 ;
  font-family: 'Roboto', 'Open Sans Condensed', 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
}

.stop-sign div span {
  position:absolute;
  font-size:20pt;
  top: 25px; right: 10px; left: 10px;

  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* Background */
.stop-sign div,
.stop-sign div > div > div,
.stop-sign div > div > div > div > div {
  background: transparent;
}

.stop-sign div > div > div > div > div > div {

background-color: red;
animation-name: example;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
.stop-sign div > div > div > div {
  background: white;
}
/* Rotation and Sizing */
.stop-sign div > div,
.stop-sign div > div > div > div,
.stop-sign div > div > div > div > div > div {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

.stop-sign div > div > div {
  width: 90px;
  height: 90px;
  top: 5px;
}
.stop-sign div > div > div > div > div {
  width: 80px;
  height: 80px;
  top: 5px;
}
/*  */
#game-section {
  align-items: center;
  justify-content: center;
}
header, footer{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* TODO
 *
 * Align all center
 * Nice color styling and such
 * 3 CSS3 Features
 *
 */

canvas {
  border: 1px solid black;
  width: 100%;
}

#candiv {
  width: 80%;
  margin: auto;
}

img {
	transform: rotate(90deg);
}
